# Ignorar entorno virtual
venv/

# Archivos de Jupyter
.ipynb_checkpoints/

# Archivos temporales de VS Code
.vscode/
*.code-workspace

# Archivos Python
__pycache__/
*.pyc

# Archivos de sistema
.DS_Store
Thumbs.db

# Otros
*.env
